**Student Name:**  Camille Settles

**Student ID:**   @02986989

**Course:** MATH 014 – Introduction to Data Science  

**Project 2:**  Part 1: Data Wrangling & Descriptive Statistics

## **Introduction & Context:**

This dataset contains performance and contextual information for **566** Chicago Public Schools (CPS) during the **2011–2012** academic year. The purpose of the dataset was to help parents, educators, and policymakers better understand school quality and support data-driven decisions at both the individual and district levels. The dataset offers a comprehensive view of school operations, student outcomes, and community factors that may influence educational success. 

It includes:
- **Academic standards** such as standardized test performance (ISAT, EXPLORE, PLAN, ACT), graduation rates, and college eligibility percentages.
- **Operational indicators** including school safety scores, student attendance, misconduct rates, and teacher attendance.
- **Community and environmental metrics** such as parent engagement levels, type of school (elementary, middle, or high), neighborhood ward, police district, and geographic location.  

This approach allows for a deeper understanding of school effectiveness beyond just test scores.

## **Dataset Source:**

**Title:** Chicago Public Schools – Progress Report Cards (2011–2012)  

**Source:** https://catalog.data.gov/dataset/chicago-public-schools-progress-report-cards-2011-2012

**File Name:** `Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012_ (1).csv`

## Section I: Dataset Overview & Structure

This section focuses on understanding the overall shape and structure of the dataset. We will examine the dimensions, data types, and presence of missing values.

#### 1. What is the shape and structure of the dataset?

In [301]:
import pandas as pd

df = pd.read_csv("Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012_ (1).csv") # Load the dataset

print("Shape of dataset:", df.shape) # Display the number of rows and columns

print("\n General Information of the dataset: \n", df.describe())  # Runs .describe() to display summary stats for all numerical columns

print("\n Info on Columns and Data Types:",df.info) # Display basic info on columns and data types

Shape of dataset: (566, 79)

 General Information of the dataset:
            School ID      ZIP Code  Safety Score  Environment Score  \
count     566.000000    566.000000    513.000000         513.000000
mean   609681.791519  60629.727915     49.504873          47.766082
std      8831.060946     20.248024     20.110837          16.215584
min    400018.000000  60605.000000      1.000000           1.000000
25%    609873.250000  60618.000000     35.000000          37.000000
50%    610052.500000  60625.000000     48.000000          47.000000
75%    610212.750000  60639.000000     61.000000          58.000000
max    610544.000000  60827.000000     99.000000          99.000000

       Instruction Score  Average Student Attendance  \
count         513.000000                  565.000000
mean           48.288499                   92.313805
std            17.417176                    5.993053
min             1.000000                   57.900000
25%            37.000000                   91.900000
50%            47.000000                   94.400000
75%            59.000000                   95.600000
max            99.000000                   98.400000

       Rate of Misconducts (per 100 students)   Average Teacher Attendance  \
count                               566.000000                  566.000000
mean                                 21.085866                   94.378445
std                                  27.543835                   11.353180
min                                   0.000000                    0.000000
25%                                   4.525000                   95.100000
50%                                  12.250000                   95.800000
75%                                  26.975000                   96.400000
max                                 251.600000                   98.500000

       Individualized Education Program Compliance Rate   \
count                                         566.000000
mean                                           98.915371
std                                             2.311631
min                                            72.700000
25%                                            98.600000
50%                                           100.000000
75%                                           100.000000
max                                           100.000000

       ISAT Exceeding Math %  ...  College Enrollment (number of students)   \
count             476.000000  ...                                566.000000
mean               20.356303  ...                                626.053004
std                16.850870  ...                                448.495105
min                 0.000000  ...                                 21.000000
25%                 9.175000  ...                                342.250000
50%                16.000000  ...                                504.000000
75%                24.900000  ...                                790.500000
max               100.000000  ...                               4368.000000

       General Services Route     RCDTS Code  X_COORDINATE  Y_COORDINATE  \
count               566.000000  5.660000e+02  5.660000e+02  5.660000e+02
mean                 39.084806  1.500000e+14  1.163016e+06  1.885663e+06
std                   6.165552  0.000000e+00  1.605930e+04  3.285688e+04
min                  29.000000  1.500000e+14  1.118114e+06  1.817242e+06
25%                  34.000000  1.500000e+14  1.152166e+06  1.860248e+06
50%                  39.000000  1.500000e+14  1.163553e+06  1.886889e+06
75%                  45.000000  1.500000e+14  1.174256e+06  1.911652e+06
max                  49.000000  1.500000e+14  1.202811e+06  1.950960e+06

         Latitude   Longitude  Community Area Number        Ward  \
count  566.000000  566.000000             566.000000  566.000000
mean    41.841890  -87.677323              37.706714   22.060071
std      0.090361    0.058390              21.584135   13.645574
min     41.653674  -87.841052               1.000000    1.000000
25%     41.771866  -87.717152              23.000000   10.000000
50%     41.845521  -87.675878              31.500000   21.000000
75%     41.913584  -87.636059              58.000000   32.750000
max     42.021064  -87.533007              77.000000   50.000000

       Police District
count       566.000000
mean         11.710247
std           6.688582
min           1.000000
25%           7.000000
50%          10.000000
75%          17.000000
max          25.000000

[8 rows x 23 columns]

 Info on Columns and Data Types: <bound method DataFrame.info of      School ID                                    Name of School  \
0       609966               Charles G Hammond Elementary School
1       610539                   Marvin Camras Elementary School
2       609852                  Eliza Chappell Elementary School
3       609835                Daniel R Cameron Elementary School
4       610521         Sir Miles Davis Magnet Elementary Academy
..         ...                                               ...
561     610506      TEAM Englewood Community Academy High School
562     610350           Robert A Black Magnet Elementary School
563     610154                Martin A Ryerson Elementary School
564     610384  Infinity Math Science and Technology High School
565     609870                Daniel J Corkery Elementary School

    Elementary, Middle, or High School          Street Address     City State  \
0                                   ES         2819 W 21st Pl   Chicago    IL
1                                   ES       3000 N Mango Ave   Chicago    IL
2                                   ES      2135 W Foster Ave   Chicago    IL
3                                   ES  1234 N Monticello Ave   Chicago    IL
4                                   ES      6730 S Paulina St   Chicago    IL
..                                 ...                     ...      ...   ...
561                                 HS     6201 S Stewart Ave   Chicago    IL
562                                 ES      9101 S Euclid Ave   Chicago    IL
563                                 ES     646 N Lawndale Ave   Chicago    IL
564                                 HS     3120 S Kostner Ave   Chicago    IL
565                                 ES     2510 S Kildare Ave   Chicago    IL

     ZIP Code    Phone Number  \
0       60623  (773) 535-4580
1       60634  (773) 534-2960
2       60625  (773) 534-2390
3       60651  (773) 534-4290
4       60636  (773) 535-9120
..        ...             ...
561     60621  (773) 535-3530
562     60619  (773) 535-6390
563     60624  (773) 534-6700
564     60623  (773) 535-4225
565     60623  (773) 534-1650

                                                 Link   \
0    http://schoolreports.cps.edu/SchoolProgressRep...
1    http://schoolreports.cps.edu/SchoolProgressRep...
2    http://schoolreports.cps.edu/SchoolProgressRep...
3    http://schoolreports.cps.edu/SchoolProgressRep...
4    http://schoolreports.cps.edu/SchoolProgressRep...
..                                                 ...
561  http://schoolreports.cps.edu/SchoolProgressRep...
562  http://schoolreports.cps.edu/SchoolProgressRep...
563  http://schoolreports.cps.edu/SchoolProgressRep...
564  http://schoolreports.cps.edu/SchoolProgressRep...
565  http://schoolreports.cps.edu/SchoolProgressRep...

                              Network Manager  ...       RCDTS Code  \
0    Pilsen-Little Village Elementary Network  ...  150000000000000
1                Fullerton Elementary Network  ...  150000000000000
2         Ravenswood-Ridge Elementary Network  ...  150000000000000
3        Garfield-Humboldt Elementary Network  ...  150000000000000
4        Englewood-Gresham Elementary Network  ...  150000000000000
..                                        ...  ...              ...
561        Southwest Side High School Network  ...  150000000000000
562                 Skyway Elementary Network  ...  150000000000000
563      Garfield-Humboldt Elementary Network  ...  150000000000000
564             West Side High School Network  ...  150000000000000
565  Pilsen-Little Village Elementary Network  ...  150000000000000

    X_COORDINATE Y_COORDINATE   Latitude  Longitude Community Area Number  \
0    1157809.015  1889554.623  41.852691 -87.696278                    30
1    1137482.296  1919394.900  41.934966 -87.770165                    19
2    1161016.902  1934466.545  41.975867 -87.683254                     4
3    1151767.546  1908130.068  41.903785 -87.717963                    23
4    1166133.893  1859929.018  41.771222 -87.666567                    67
..           ...          ...        ...        ...                   ...
561  1174730.350  1863740.125  41.781493 -87.634942                    68
562  1190807.321  1844986.038  41.729656 -87.576605                    48
563  1151558.259  1904275.283  41.893211 -87.718833                    23
564  1147521.302  1883405.128  41.836020 -87.734195                    30
565  1148304.879  1886901.414  41.845599 -87.731229                    30

    Community Area Name  Ward Police District                     Location
0        SOUTH LAWNDALE    12              10  (41.85269133, -87.69627777)
1        BELMONT CRAGIN    30              25  (41.93496641, -87.77016525)
2        LINCOLN SQUARE    47              20    (41.975867, -87.68325438)
3         HUMBOLDT PARK    26              25  (41.90378521, -87.71796315)
4        WEST ENGLEWOOD    15               7  (41.77122181, -87.66656657)
..                  ...   ...             ...                          ...
561           ENGLEWOOD    20               7   (41.7814927, -87.63494163)
562     CALUMET HEIGHTS     8               4  (41.72965645, -87.57660534)
563       HUMBOLDT PARK    27              11  (41.89321142, -87.71883334)
564      SOUTH LAWNDALE    22              10  (41.83601953, -87.73419465)
565      SOUTH LAWNDALE    22              10  (41.84559878, -87.73122946)

[566 rows x 79 columns]>

In [303]:
print("First 5 rows of the dataset:") # Preview the first 5 rows of the dataset
print(df.head())

First 5 rows of the dataset:
   School ID                             Name of School  \
0     609966        Charles G Hammond Elementary School
1     610539            Marvin Camras Elementary School
2     609852           Eliza Chappell Elementary School
3     609835         Daniel R Cameron Elementary School
4     610521  Sir Miles Davis Magnet Elementary Academy

  Elementary, Middle, or High School          Street Address     City State  \
0                                 ES         2819 W 21st Pl   Chicago    IL
1                                 ES       3000 N Mango Ave   Chicago    IL
2                                 ES      2135 W Foster Ave   Chicago    IL
3                                 ES  1234 N Monticello Ave   Chicago    IL
4                                 ES      6730 S Paulina St   Chicago    IL

   ZIP Code    Phone Number  \
0     60623  (773) 535-4580
1     60634  (773) 534-2960
2     60625  (773) 534-2390
3     60651  (773) 534-4290
4     60636  (773) 535-9120

                                               Link   \
0  http://schoolreports.cps.edu/SchoolProgressRep...
1  http://schoolreports.cps.edu/SchoolProgressRep...
2  http://schoolreports.cps.edu/SchoolProgressRep...
3  http://schoolreports.cps.edu/SchoolProgressRep...
4  http://schoolreports.cps.edu/SchoolProgressRep...

                            Network Manager  ...       RCDTS Code  \
0  Pilsen-Little Village Elementary Network  ...  150000000000000
1              Fullerton Elementary Network  ...  150000000000000
2       Ravenswood-Ridge Elementary Network  ...  150000000000000
3      Garfield-Humboldt Elementary Network  ...  150000000000000
4      Englewood-Gresham Elementary Network  ...  150000000000000

  X_COORDINATE Y_COORDINATE   Latitude  Longitude Community Area Number  \
0  1157809.015  1889554.623  41.852691 -87.696278                    30
1  1137482.296  1919394.900  41.934966 -87.770165                    19
2  1161016.902  1934466.545  41.975867 -87.683254                     4
3  1151767.546  1908130.068  41.903785 -87.717963                    23
4  1166133.893  1859929.018  41.771222 -87.666567                    67

  Community Area Name  Ward Police District                     Location
0      SOUTH LAWNDALE    12              10  (41.85269133, -87.69627777)
1      BELMONT CRAGIN    30              25  (41.93496641, -87.77016525)
2      LINCOLN SQUARE    47              20    (41.975867, -87.68325438)
3       HUMBOLDT PARK    26              25  (41.90378521, -87.71796315)
4      WEST ENGLEWOOD    15               7  (41.77122181, -87.66656657)

[5 rows x 79 columns]

In [305]:
print("\nLast 5 rows of the dataset:") # Preview the last 5 rows of the dataset
print(df.tail())

Last 5 rows of the dataset:
     School ID                                    Name of School  \
561     610506      TEAM Englewood Community Academy High School
562     610350           Robert A Black Magnet Elementary School
563     610154                Martin A Ryerson Elementary School
564     610384  Infinity Math Science and Technology High School
565     609870                Daniel J Corkery Elementary School

    Elementary, Middle, or High School       Street Address     City State  \
561                                 HS  6201 S Stewart Ave   Chicago    IL
562                                 ES   9101 S Euclid Ave   Chicago    IL
563                                 ES  646 N Lawndale Ave   Chicago    IL
564                                 HS  3120 S Kostner Ave   Chicago    IL
565                                 ES  2510 S Kildare Ave   Chicago    IL

     ZIP Code    Phone Number  \
561     60621  (773) 535-3530
562     60619  (773) 535-6390
563     60624  (773) 534-6700
564     60623  (773) 535-4225
565     60623  (773) 534-1650

                                                 Link   \
561  http://schoolreports.cps.edu/SchoolProgressRep...
562  http://schoolreports.cps.edu/SchoolProgressRep...
563  http://schoolreports.cps.edu/SchoolProgressRep...
564  http://schoolreports.cps.edu/SchoolProgressRep...
565  http://schoolreports.cps.edu/SchoolProgressRep...

                              Network Manager  ...       RCDTS Code  \
561        Southwest Side High School Network  ...  150000000000000
562                 Skyway Elementary Network  ...  150000000000000
563      Garfield-Humboldt Elementary Network  ...  150000000000000
564             West Side High School Network  ...  150000000000000
565  Pilsen-Little Village Elementary Network  ...  150000000000000

    X_COORDINATE Y_COORDINATE   Latitude  Longitude Community Area Number  \
561  1174730.350  1863740.125  41.781493 -87.634942                    68
562  1190807.321  1844986.038  41.729656 -87.576605                    48
563  1151558.259  1904275.283  41.893211 -87.718833                    23
564  1147521.302  1883405.128  41.836020 -87.734195                    30
565  1148304.879  1886901.414  41.845599 -87.731229                    30

    Community Area Name  Ward Police District                     Location
561           ENGLEWOOD    20               7   (41.7814927, -87.63494163)
562     CALUMET HEIGHTS     8               4  (41.72965645, -87.57660534)
563       HUMBOLDT PARK    27              11  (41.89321142, -87.71883334)
564      SOUTH LAWNDALE    22              10  (41.83601953, -87.73419465)
565      SOUTH LAWNDALE    22              10  (41.84559878, -87.73122946)

[5 rows x 79 columns]

**Explanation:**

The dataset has **566 rows** and **79 columns**. Each row represents one school within the Chicago Public School (CPS) system, and each column provides a variable related to school performance, environment, location, or engagement.

- **The `.shape` method** confirms the number of rows and columns in the dataset. This helps ensure that the dataset loaded correctly and matches the structure described in the data source.

- **The `.info()` method** provides important structural metadata:
  - Lists each column name.
  - Shows the number of non-null entries.
  - Displays the data type (`object`, `int64`, or `float64`) for each column.

From this output:
- Most columns are `object` type, meaning they contain categorical or text-based data (e.g., *Name of School*, *City*, *Performance Status*).
- Some columns, like `Safety Score` and `Instruction Score`, are `float64`, indicating continuous numerical values.
- Example: The `Link` column has 565 non-null values (1 missing), highlighting a small gap in the dataset.

- **The `.head()` and `.tail()` methods** display the first and last five rows of the dataset, which looks at the data’s layout. This data confirms that:
  - Column headers are correctly labeled and appear as expected (e.g., *School ID*, *ZIP Code*).
  - Data is consistently formatted across rows.
  - Entries are aligned under the appropriate columns.

These tools describe the dataset’s structure and identify missing data or formatting concerns before cleaning and analysis.

####  2. Identify the Variable Types

In [309]:
df.dtypes.value_counts() # Counts how many columns fall under each data type

object     56
float64    15
int64       8
Name: count, dtype: int64

**Explanation:**

The code `df.dtypes.value_counts()` counts how many columns fall under each data type. It summarizes the structure of the data set and the variables. This method shows how many columns fall into each data type. 

The dataset contains:

- **56 `object` columns** — These include school names, categories, labels, and other non-numeric entries.

- **15 `float64` columns** — These are decimal numbers, typically used for percentage-based metrics (e.g., **Safety Score**, **Average Attendance**).

- **8 `int64` columns** — These are whole numbers, representing **IDs**, **ZIP codes**, or **count-based values**.

#### 3. Are there any missing values?

In [319]:
# Count and sort missing values in descending order
missing_values = df.isnull().sum()  # Calculates the total number of missing (`null`) entries for each column in the dataset.

missing_values[missing_values > 0].sort_values(ascending=False) # Filters out columns that have no missing values.
print(missing_values[missing_values > 0].sort_values(ascending=False))

ISAT Value Add Math           98
ISAT Value Add Read           98
ISAT Exceeding Math %         90
ISAT Exceeding Reading %      90
Safety Score                  53
Environment Score             53
Instruction Score             53
Link                           1
Average Student Attendance     1
dtype: int64

**Explanation:**

This output reveals that several columns contain missing values, primarily in **performance-related numerical features**. These missing values likely result from differences in reporting between schools.

The columns with the most missing values are:

- **ISAT Value Add Math** — 98 missing  
- **ISAT Value Add Read** — 98 missing  
- **ISAT Exceeding Math %** — 90 missing  
- **ISAT Exceeding Reading %** — 90 missing  
- **Safety Score** — 53 missing  
- **Environment Score** — 53 missing  
- **Instruction Score** — 53 missing  
- **Link** — 1 missing  
- **Average Student Attendance** — 1 missing  

These values are not unexpected in public school datasets, where data collection can vary from school to school.

**Plan for Handling Missing Data:**

- For **numerical columns** (e.g., test scores, attendance rates):  
  Use **mean or median imputation** to preserve the dataset while reducing bias.

- For **categorical or optional fields**:  
  Replace missing values with a placeholder like `"N/A"` if the column is not critical for analysis.

## Section II: Data Cleaning & Indexing 

This section focuses on preparing the dataset for analysis by removing redundant or irrelevant information and filtering data using logical conditions. It ensures that the dataset is clean, unique, and ready for further processing.

#### 4. Check for and Remove Duplicates

In [324]:
df.duplicated().sum() # Check if there are any duplicate rows
df[df.duplicated()] # Returns 0

Empty DataFrame
Columns: [School ID, Name of School, Elementary, Middle, or High School, Street Address, City, State, ZIP Code, Phone Number, Link , Network Manager, Collaborative Name, Adequate Yearly Progress Made? , Track Schedule, CPS Performance Policy Status, CPS Performance Policy Level, Healthy Schools Certified?, Safety Icon , Safety Score, Family Involvement Icon, Family Involvement Score, Environment Icon , Environment Score, Instruction Icon , Instruction Score, Leaders Icon , Leaders Score , Teachers Icon , Teachers Score, Parent Engagement Icon , Parent Engagement Score, Parent Environment Icon, Parent Environment Score, Average Student Attendance, Rate of Misconducts (per 100 students) , Average Teacher Attendance, Individualized Education Program Compliance Rate , Pk-2 Literacy %, Pk-2 Math %, Gr3-5 Grade Level Math %, Gr3-5 Grade Level Read % , Gr3-5 Keep Pace Read %, Gr3-5 Keep Pace Math %, Gr6-8 Grade Level Math %, Gr6-8 Grade Level Read %, Gr6-8 Keep Pace Math%, Gr6-8 Keep Pace Read %, Gr-8 Explore Math %, Gr-8 Explore Read %, ISAT Exceeding Math %, ISAT Exceeding Reading % , ISAT Value Add Math, ISAT Value Add Read, ISAT Value Add Color Math, ISAT Value Add Color Read, Students Taking  Algebra %, Students Passing  Algebra %, 9th Grade EXPLORE (2009) , 9th Grade EXPLORE (2010) , 10th Grade PLAN (2009) , 10th Grade PLAN (2010) , Net Change EXPLORE and PLAN, 11th Grade Average ACT (2011) , Net Change PLAN and ACT, College Eligibility %, Graduation Rate %, College Enrollment Rate %, College Enrollment (number of students) , General Services Route , Freshman on Track Rate %, RCDTS Code, X_COORDINATE, Y_COORDINATE, Latitude, Longitude, Community Area Number, Community Area Name, Ward, Police District, Location]
Index: []

[0 rows x 79 columns]

**Explanation:**

The code `.duplicated().sum()` checks for duplicate rows in the dataset and returns the total number. The output shows `0`, meaning there are **no duplicate rows**, and nothing needs to be removed. The code `df.drop_duplicates()` can be used to check again.

In [327]:
df = df.drop_duplicates() # Remove duplicate rows if they exist

**Explanation:**

The code `df.drop_duplicates()` removes any duplicate rows if they exist. There is no output, meaning that there are no duplicates.

#### 5. Provide Examples of DataFrame Filtering Using Logical Conditions

In [331]:
very_safe_schools = df[df["Safety Score"] > 90] # Filter Schools with Safety Score > 90 (Very Safe)
very_safe_schools[["Name of School", "Safety Score"]] # Displays name and safety score of filtered schools

                                        Name of School  Safety Score
8        Walter Payton College Preparatory High School          98.0
11                   Abraham Lincoln Elementary School          99.0
17           Northside College Preparatory High School          99.0
26                       Edison Park Elementary School          95.0
33             Alexander Graham Bell Elementary School          99.0
49                       Oriole Park Elementary School          99.0
151   Mary E Courtenay Elementary Language Arts Center          99.0
203                   Ellen Mitchell Elementary School          99.0
210        Stephen Decatur Classical Elementary School          99.0
239         James E McDade Elementary Classical School          99.0
251                     Norwood Park Elementary School          99.0
277                   John J Audubon Elementary School          95.0
280        Edgar Allan Poe Elementary Classical School          99.0
285       Annie Keller Elementary Gifted Magnet School          99.0
319                   James G Blaine Elementary School          99.0
322                Augustus H Burley Elementary School          99.0
330                           Talman Elementary School          99.0
338            Hawthorne Elementary Scholastic Academy          92.0
373                 Whitney M Young Magnet High School          95.0
384      William Jones College Preparatory High School          92.0
466                        Edgebrook Elementary School          99.0
488              Northside Learning Center High School          99.0
505                LaSalle Elementary Language Academy          99.0
520                        Sauganash Elementary School          99.0
522                         Wildwood Elementary School          99.0
542  Thomas A Edison Regional Gifted Center Element...          91.0

**Explanation:**

This filter selects schools with a Safety Score greater than 90, identifying institutions considered very safe environments. This helps prioritize schools with a strong safety record. The output displays the names and safety scores of the safest schools. These schools stand out for their protective environments.

In [334]:
high_schools = df[df["Elementary, Middle, or High School"] == "HS"] # Filter Schools by Type (High Schools)
high_schools[["Name of School", "Elementary, Middle, or High School"]].head() # Shows first few results of filter

,Name of School,"Elementary, Middle, or High School"
8,Walter Payton College Preparatory High School,HS
15,Manley Career Academy High School,HS
17,Northside College Preparatory High School,HS
28,Michele Clark Academic Prep Magnet High School,HS
30,Uplift Community High School,HS

**Explanation:**

This filter only selects high schools from the dataset using a categorical condition. This is useful when analyzing conditions specific to grade level. The output shows the first few high schools.

In [346]:
# Convert involvement columns to numeric 
df["Family Involvement Score"] = pd.to_numeric(df["Family Involvement Score"], errors='coerce') # Converts to numeric
df["Teachers Score"] = pd.to_numeric(df["Teachers Score"], errors='coerce') # Converts teacher scores to numeric format
df["Parent Engagement Score"] = pd.to_numeric(df["Parent Engagement Score"], errors='coerce') # Converts parent engagement scores to numeric format

# Filter schools with high Family, Teacher, and Parent involvement scores
involvement_scores = df[
    (df["Family Involvement Score"] > 60) & # Family score must be greater than 60
    (df["Teachers Score"] > 60) &  # Teacher score must be greater than 60
    (df["Parent Engagement Score"] > 60) # Parent Engagement score must be greater than 60
]

# Display selected columns for filtered schools
involvement_scores[["Name of School", "Family Involvement Score", "Teachers Score", "Parent Engagement Score"]].head()

,Name of School,Family Involvement Score,Teachers Score,Parent Engagement Score
277,John J Audubon Elementary School,73.0,65.0,61.0
285,Annie Keller Elementary Gifted Magnet School,97.0,82.0,68.0
365,Jacqueline B Vaughn Occupational High School,72.0,69.0,63.0
405,Frederick Stock Elementary School,99.0,81.0,69.0
488,Northside Learning Center High School,99.0,84.0,62.0

**Explanation:**

This filter selects schools where Family Involvement, Teachers Score, and Parent Engagement Score are all above 60. These values indicate strong collaboration among staff, families, and school communities. The output shows schools with strong involvement across all three areas. These schools may be strong models for school engagement strategies.

## Section III: Descriptive Statistics

#### 6. Use .describe() on numerical columns:

In [351]:
df.describe() # Summary statistics (count, mean, std, min, max, etc.) for all numerical columns in the dataset

,School ID,ZIP Code,Safety Score,Family Involvement Score,Environment Score,Instruction Score,Teachers Score,Parent Engagement Score,Average Student Attendance,Rate of Misconducts (per 100 students),...,College Enrollment (number of students),General Services Route,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Ward,Police District
count,566.000000,566.000000,513.000000,297.000000,513.000000,513.000000,295.000000,432.000000,565.000000,566.000000,...,566.000000,566.000000,5.660000e+02,5.660000e+02,5.660000e+02,566.000000,566.000000,566.000000,566.000000,566.000000
mean,609681.791519,60629.727915,49.504873,50.602694,47.766082,48.288499,49.050847,50.231481,92.313805,21.085866,...,626.053004,39.084806,1.500000e+14,1.163016e+06,1.885663e+06,41.841890,-87.677323,37.706714,22.060071,11.710247
std,8831.060946,20.248024,20.110837,18.549160,16.215584,17.417176,17.854499,5.105125,5.993053,27.543835,...,448.495105,6.165552,0.000000e+00,1.605930e+04,3.285688e+04,0.090361,0.058390,21.584135,13.645574,6.688582
min,400018.000000,60605.000000,1.000000,6.000000,1.000000,1.000000,6.000000,37.000000,57.900000,0.000000,...,21.000000,29.000000,1.500000e+14,1.118114e+06,1.817242e+06,41.653674,-87.841052,1.000000,1.000000,1.000000
25%,609873.250000,60618.000000,35.000000,37.000000,37.000000,37.000000,36.000000,47.000000,91.900000,4.525000,...,342.250000,34.000000,1.500000e+14,1.152166e+06,1.860248e+06,41.771866,-87.717152,23.000000,10.000000,7.000000
50%,610052.500000,60625.000000,48.000000,49.000000,47.000000,47.000000,48.000000,50.000000,94.400000,12.250000,...,504.000000,39.000000,1.500000e+14,1.163553e+06,1.886889e+06,41.845521,-87.675878,31.500000,21.000000,10.000000
75%,610212.750000,60639.000000,61.000000,61.000000,58.000000,59.000000,59.000000,53.000000,95.600000,26.975000,...,790.500000,45.000000,1.500000e+14,1.174256e+06,1.911652e+06,41.913584,-87.636059,58.000000,32.750000,17.000000
max,610544.000000,60827.000000,99.000000,99.000000,99.000000,99.000000,99.000000,69.000000,98.400000,251.600000,...,4368.000000,49.000000,1.500000e+14,1.202811e+06,1.950960e+06,42.021064,-87.533007,77.000000,50.000000,25.000000

**Explanation:**

`.describe()` generates summary statistics (mean, median, min, max, quartiles, etc.) for all numerical columns.

**Insights Examples:**

Safety Scores average around 50, with some schools scoring close to the maximum (99). Average Student Attendance typically ranges between 90% and 100%, but a few schools report much lower values (as low as 41%), which may reflect poor attendance or missing data.

#### 7. Use .value_counts() on Categorical Columns

In [355]:
df["Elementary, Middle, or High School"].value_counts() # Counts the number of schools by type (Elementary, Middle, High)

Elementary, Middle, or High School
ES    462
HS     93
MS     11
Name: count, dtype: int64

In [357]:
df["CPS Performance Policy Status"].value_counts() # Shows how many schools fall into each CPS policy status category

CPS Performance Policy Status
Not on Probation    303
Probation           249
Not Applicable        9
NDA                   5
Name: count, dtype: int64

**Explanation:**

`.value_counts()` helps quantify how many records fall into each category. This is useful for understanding the composition of your dataset.

**Insight Examples:**

Most entries are elementary schools. There are 462 elementary schools.

Many schools are marked as “Not on Probation” or “Probation” under CPS performance status.

#### 8. Use .groupby() to Summarize Data

In [361]:
df.groupby("Elementary, Middle, or High School")["Average Student Attendance"].mean() # Groups data by school level and calculates the average student attendance in each group

Elementary, Middle, or High School
ES    94.022777
HS    83.563441
MS    94.672727
Name: Average Student Attendance, dtype: float64

**Explanation:**
This code groups the dataset by school type (Elementary, Middle, High) and calculates the average student attendance for each category.

**Insight Example:**

Elementary schools tend to have higher average attendance than high schools.

This grouping helps identify where attendance issues may be more prominent.

#### 9. Highlight 1–2 Key Takeaways or Patterns from Your Descriptive Analysis

**Takeaway 1:** 

Schools with high safety scores (above 90) tend to also have high involvement scores across families, teachers, and parents. This suggests that community engagement may be strongly linked to a school’s overall safety and environment.

**Takeaway 2:**

Elementary schools make up the largest portion of the dataset and show the highest average student attendance. This could suggest stronger student retention and engagement at earlier grade levels compared to middle or high schools.

#### 10. Suggest 2 Questions You Would Explore Further in Part 2 Using Visualization

**Question 1:** 

Do schools with higher Safety Scores also report higher Parent Engagement Scores? A scatter plot could help visualize this relationship.

**Question 2:** 

Do schools with higher teacher or parent involvement also report better performance scores (e.g., CPS Policy Status or ISAT Scores)? A boxplot comparison could help investigate this across involvement levels.

In [366]:
df.to_csv("camille_settles_cleaned.csv", index=False)  # Export the cleaned and filtered dataset